<!doctype html>
<html lang="en-us">
  <head>
    <title>Test</title>
    <meta charset="utf8">
    <script src="banner.js" type="module"></script>
  </head>
  <body>
    <usa-banner tld="gov" locale="en">
      <!--
      <span slot="banner-header-text">Unofficial custom banner text.</span>
      <span slot="banner-action">Check it out!</span>
      -->
    </usa-banner>
    <p>
      An example of USA Banner using shadowDOM (required to use the <code>&lt;slot&gt;</code> element).
    </p>
    <!-- <usa-banner tld="gov" locale="es"></usa-banner> -->
    <!-- <usa-banner tld="mil" locale="en"></usa-banner> -->
    <!-- <usa-banner tld="mil" locale="es"></usa-banner> -->
  </body>
</html>
